fmcore/build
fmcore/build-native
fmcore/build-ios
fmcore/build-android
fmcore/models
android/.kotlin/errors
android/.idea

*.onnx
FaceMatchTestApp/*
android/.run/*
android/publish_aar.sh
release/*
deploy_keys/*

ios/FaceMatchSDK/FaceMatchSDK.xcodeproj/project.xcworkspace/xcuserdata/manuele.xcuserdatad/UserInterfaceState.xcuserstate
